@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@inject NavigationManager NavigationManager

<ul class="navbar-nav">
    <AuthorizeView>
        <Authorized>
            <li class="nav-item">
                <span class="navbar-text text-white">Hello @context.User.Identity?.Name!</span>
            </li>
            <li class="nav-item">
                <form method="post" action="/Identity/Account/Logout">
                    <button type="submit" class="nav-link btn btn-link text-white">Logout</button>
                </form>
            </li>
        </Authorized>
        <NotAuthorized>
            <li class="nav-item">
                <a class="nav-link text-white" href="/Identity/Account/Register">Register</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="/Identity/Account/Login">Login</a>
            </li>
        </NotAuthorized>
    </AuthorizeView>
</ul>

@code {
    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    private ClaimsPrincipal User => HttpContext?.User ?? new ClaimsPrincipal();
} 